$clr-light: #fff;
$clr-dark: #000;
$clr-light-gray: #f5f5f5;
$clr-medium-gray: #e3e3e3;
$clr-dark-gray: #a5a5a5;
$clr-gray-4: #e0e0e0;
$clr-red: #e50c00;

$ff-main: "Work Sans", sans-serif;
$ff-secondary: "Montserrat", sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

html {
	font-size: 15px;
	overflow-x: hidden;
}

body {
	background-color: $clr-light;
	font-family: $ff-main;
	color: $clr-dark;
	font-size: 1rem;
	overflow-x: hidden;
}

h1 {
}

h2 {
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.25;
}

h3 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: $fw-bold;
	line-height: 1.25;
	&.h3-padding {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
}

h4 {
	&.light-color {
		color: $clr-light;
		font-size: 20px;
		font-weight: $fw-bold;
		text-transform: uppercase;
		margin-bottom: 1.2em;
	}
	&.red-subtitle {
		color: $clr-red;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: $fw-light;
		margin-bottom: 0;
	}
	&.cooperating-title {
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		max-width: 12ch;
		line-height: 1.5;
	}
}

p {
	font-family: $ff-secondary;
	font-size: 14px;
	line-height: 2;
	margin-top: 1em;
	margin-bottom: 1em;
}

button {
	&.btn-with-a {
		border: none;
		background: transparent;
		color: white;
		font-size: 13px;
		text-transform: uppercase;
		font-weight: $fw-bold;
		a {
			margin-left: 20px;
		}
	}
}

a {
	&.btn-primary {
		background-color: $clr-red;
		border-color: $clr-red;
		border-radius: 0;
		display: flex;
		&.btn-red-resp {
			width: 30px;
			height: 30px;
		}
		&.btn-red-big {
			width: 50px;
			height: 50px;
			& i {
				transform: scale(1.33);
			}
		}
		&.btn-gray-big {
			background-color: $clr-dark-gray;
			border-color: $clr-dark-gray;
			height: 50px;
			width: 50px;
			&:hover {
				background-color: $clr-red;
				border-color: $clr-red;
			}
		}
		&:hover {
			background-color: $clr-dark;
			border-color: $clr-dark;
		}
	}
	&.btn-secondary {
		background-color: $clr-dark;
		border-color: $clr-dark;
		border-radius: 0;
		&.btn-dark-resp {
			width: 30px;
			height: 30px;
		}
		&.btn-dark-big {
			width: 50px;
			height: 50px;
			& i {
				transform: scale(1.33);
			}
		}
		&:hover {
			color: $clr-dark;
			background-color: $clr-light;
			border-color: $clr-dark;
		}
	}

	&.align-right-bottom-main {
		position: absolute;
		right: 20px;
		bottom: -10px;
	}
	&.align-right-bottom {
		position: absolute;
		right: 5px;
		bottom: -10px;
	}
	&.bottom-10 {
		position: absolute;
		bottom: -10px;
	}
}

.bgc-light {
	background: $clr-light;
}

.bgc-light-gray {
	background: $clr-light-gray;
}

.bgc-red {
	background: $clr-red;
}

// Header
#mobile-menu {
	height: 90px;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9999;
}

.navbar-brand {
	margin-left: 20px;
}

.navbar-toggler {
	background-color: $clr-dark-gray;
	height: 50px;
	width: 50px;
	margin-right: 22px;
	border-radius: 0;
	border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none;
	box-shadow: none;
}

.navbar-light .navbar-toggler-icon {
	background-image: url("/kemabo/wp-content/uploads/2021/08/bars-solid.svg");
	background-size: 75%;
}

.navbar-collapse {
	ul {
		li {
			&.menu-item {
				font-size: 20px;
				list-style-type: none;
				text-transform: uppercase;
				margin-block: 1em;

				a {
					color: $clr-dark;
					font-weight: $fw-bold;
					transition: color 0.3 ease-in-out;
					&:hover,
					&:active,
					&:focus {
						color: $clr-red;
						text-decoration: none;
					}
				}
			}
			&.current-menu-item {
				a {
					color: $clr-red;
				}
			}
		}
	}
	&.collapse {
		&.show {
			height: 100vh;
			background: $clr-red;
			display: flex;
			align-items: center;
			justify-content: center;
			ul {
				margin-bottom: 6em;
			}
		}
	}
}

.collapsing {
	transition-duration: 0s;
}
// End header

// Bootstrap container
.container-fluid {
	padding-left: 30px;
	padding-right: 30px;
}
// End Bootstrap container

.hero-bgi {
	margin-top: 90px;
	padding-top: 82px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3)),
		url("/kemabo/wp-content/uploads/2021/08/home-hero-image.png");
	background-repeat: no-repeat;
	background-color: $clr-light;
	background-position: bottom center;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	padding-bottom: 192px;
	display: flex;
	height: 100%;
	align-items: center;
}

.hero-subtitle {
	color: $clr-light;
	font-size: 20px;
	font-weight: $fw-light;
	text-transform: uppercase;
}

.hero-paragraph {
	color: $clr-light;
	font-size: 20px;
	font-weight: $fw-bold;
	text-transform: uppercase;
	margin-top: 1em;
	margin-bottom: 2em;
	line-height: 1.5;
}

.hero-a {
	color: $clr-light;
	font-size: 13px;
	font-weight: $fw-bold;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cf-no-padding {
	padding-left: 0;
	padding-right: 0;
}

.row-go-half-up {
	margin-top: -121.5px;
	padding-left: -30px;
	padding-right: -30px;
}

.first-slider {
	& .col-md-4 {
		padding-left: 5px;
		padding-right: 5px;
	}
	& .slick-dots {
		padding-inline: 45px;
		li {
			width: 33%;
			height: 3px;
			margin-inline: 0;
			&.slick-active {
				button::before {
					content: "";
					height: 8px;
					border-bottom: 8px solid $clr-red;
					border-radius: 5px;
					width: 100%;
					transform: translateY(14px);
				}
			}
			button:before {
				content: "";
				border-bottom: 3px solid $clr-gray-4;
				opacity: 1;
				width: 100%;
			}
		}
	}
}

.slick-list.draggable {
	padding-bottom: 10px !important;
}

.red-bgc-div {
	background: $clr-red;
	height: 243px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 31px;
	border-radius: 5px;
	position: relative;
}

.red-bgc-ul {
	padding-left: 1em;
	margin-bottom: 0;
}

.red-bgc-ul-li {
	font-family: $ff-secondary;
	color: $clr-light;
	font-size: 16px;
	padding-left: 0.5em;
	list-style-image: url("http://localhost/kemabo/wp-content/uploads/2021/08/chevron-right-solid-dark.svg");
	margin-bottom: 0.5em;
}

.who-are-we-div {
	border: 1px solid $clr-medium-gray;
	background: $clr-light;
	border-radius: 5px;
}

.who-are-we-img-div {
	margin-bottom: 1em;
}

.who-are-we-text-div {
	padding: 22px;
	padding: 22px;
	position: relative;
	max-height: 542px;
	background: $clr-light;
	border: 1px solid $clr-medium-gray;
	border-radius: 5px;
}

.recent-projects-text-div {
	padding-top: 2em;
	padding-bottom: 2em;
}

.recent-projects-div-for-image {
	position: relative;
	margin-bottom: 2em;
}

.recent-projects-image {
	z-index: -1;
}

.recent-projects-image-top-text {
	position: absolute;
	top: 0;
	left: 23px;
	height: 34px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: $clr-dark;
	color: $clr-light;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: $fw-bold;
	display: flex;
	align-items: center;
	&.latest-news {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.recent-projects-image-bottom-text {
	position: absolute;
	bottom: 23px;
	left: 23px;
	font-family: $ff-secondary;
	font-size: 16px;
	color: $clr-light;
	line-height: 1.5;
	display: block;
	padding-right: 50px;
}

.recent-projects-image-bottom-a {
	position: absolute;
	right: 11px;
	bottom: -5px;
}

.recent-projects-image-overlay {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 90px;
	width: 100%;
	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.4),
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0)
	);
}

.projects {
	position: relative;
	.top-bgc-gray {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 105px;
		background-color: $clr-light-gray;
	}
	.item {
		.overlay {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			height: 13em;
			background: linear-gradient(
				to top,
				rgba(0, 0, 0, 0.8),
				rgba(0, 0, 0, 0.6),
				rgba(0, 0, 0, 0.4),
				rgba(0, 0, 0, 0.2),
				rgba(0, 0, 0, 0)
			);
		}
		&:nth-child(1) {
			// margin-bottom: 25px;
		}
		& .top {
			span {
				background-color: $clr-dark;
				color: $clr-light;
				font-size: 12px;
				font-weight: $fw-bold;
				padding: 10px;
				text-transform: uppercase;
				margin-left: 20px;
				display: inline-block;
			}
		}
		& .bottom {
			p {
				font-size: 16px;
				color: $clr-light;
				margin-left: 20px;
				padding-right: 45px;
			}
			a {
				position: absolute;
				right: 10px;
				bottom: -5px;
				height: 30px;
				width: 30px;
			}
		}
	}
}

.see-all-projects-div {
	position: relative;
	margin-top: 3em;
	background: linear-gradient(rgba(0, 0, 0, 0.7)),
		url("/kemabo/wp-content/uploads/2021/08/projecten_afbeelding_groot.png");
	background-color: $clr-light;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 566px;
	padding-top: 89px;
}

.see-all-projects-image-overlay {
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.7);
	padding-top: 89px;
}

.see-all-projects-subtitle {
	color: $clr-light;
	font-size: 15px;
	font-weight: $fw-light;
	text-transform: uppercase;
}

.our-team {
	margin-top: -157px;
	& .column {
		margin-bottom: 10px;
	}
	& .title-div {
		background-color: $clr-red;
		color: $clr-light;
		font-size: 50px;
		padding-left: 30px;
		font-weight: $fw-bold;
		min-height: 314px;
		margin-right: 15px;
		margin-left: 15px;
	}

	& .item {
		position: relative;
		& .overlay {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			padding-left: 40px;
			padding-right: 40px;
			padding-bottom: 35px;
			background: linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0) 58%,
				rgba(0, 0, 0, 0.01) 59%,
				rgba(0, 0, 0, 0.5) 100%
			);
			& .text {
				display: flex;
				height: 100%;
				flex-direction: column;
				justify-content: flex-end;
				& .function {
					font-size: 12px;
					font-weight: $fw-bold;
					color: $clr-light;
					text-transform: uppercase;
				}
				& .name {
					font-size: 22px;
					color: $clr-light;
					font-family: $ff-secondary;
				}
			}
		}
	}
}

.padding-div-95 {
	padding-top: 6.33rem;
	background: $clr-light-gray;
}

.cooperating-div {
	display: flex;
	justify-content: center;
	padding-top: 54px;
	padding-bottom: 170px;
}

.cooperation-div {
	margin-top: 51px;
}

.logo-partners-div {
	margin-top: -118.5px;
}

.logo-partner-div {
	height: 237px;
	display: grid;
	place-items: center;
	border: 1px solid $clr-medium-gray;
	border-radius: 5px;
	margin-bottom: 10px;
	background: $clr-light;

	.logo-partner-img {
		transition: transform 0.3s ease-in-out;
		// object-fit: scale-down;
		// width: 100%;
		// padding: 1em;
	}

	&:hover {
		.logo-partner-img {
			transform: scale(1.1);
		}
	}
}

.padding-div-101 {
	padding-top: 101px;
}

// Footer
.padding-div-200 {
	padding-top: 200px;
}

.bgi-footer {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3)),
		url("/kemabo/wp-content/uploads/2021/08/home-hero-image.png");
	background-color: $clr-light;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: calc(100vh - 90px);
}

.container-footer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
}

.footer-upper-row {
	margin-top: -6em;
	transition: transform 0.5s linear;
	&.animation-hide {
		transform: translateY(-10vh);
	}
}

.footer-middle-row {
	margin-block: 10rem;
}

.footer-bottom-row {
	margin-bottom: 2em;
	& .footer-p,
	& .footer-a {
		font-size: 14px;
		transition: color 0.3s ease-in-out;
	}

	& .footer-a {
		&:hover,
		&:active,
		&:focus {
			color: $clr-dark-gray;
			text-decoration: none;
		}
	}
}

.margin-top-row-half {
	margin-top: -91px;
	margin-right: -30px;
	margin-bottom: 10em;
	margin-left: -30px;
}

.footer-upper-div-item {
	padding: 20px;
	&.footer-upper-div-item-last {
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
}

.footer-logo-div {
	height: 182px;
	background-color: $clr-light;
	border: 1px solid $clr-medium-gray;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.h4-footer {
	font-size: 18px;
	color: $clr-light;
	text-transform: uppercase;
	font-weight: $fw-bold;
	margin-bottom: 25px;
	&.mb-mt-17 {
		margin-top: 17px;
	}
}

.footer-p {
	margin: 0;
	font-family: $ff-secondary;
	font-size: 12px;
	line-height: 1.78;
	color: $clr-light;
}

.footer-a {
	font-family: $ff-secondary;
	font-size: 12px;
	line-height: 1.78;
	color: $clr-light;
}

.footer-social-a {
	&:hover {
		text-decoration: none;
	}
}
// End footer

@media (min-width: 768px) {
	h2 {
		font-size: 50px;
	}

	h3 {
		font-size: 40px;
		&.h3-padding {
			padding-top: 10px;
		}
	}

	h4 {
		&.red-subtitle {
			font-size: 20px;
		}
		&.light-color {
			font-size: 22px;
		}
		&.cooperating-title {
			max-width: max-content;
			font-size: 30px;
		}
	}

	p {
		font-size: 16px;
	}

	button {
		&.btn-with-a {
			font-size: 15px;
			&.clr-dark {
				color: $clr-dark;
				font-size: 9px;
				transform: translateY(3px);
			}
		}
	}

	a {
		&.btn-primary {
			&.btn-red-resp {
				width: 50px;
				height: 50px;
				& i {
					transform: scale(1.33);
				}
			}
		}
		&.btn-secondary {
			&.btn-dark-resp {
				width: 50px;
				height: 50px;
				& i {
					transform: scale(1.33);
				}
			}
		}

		&.align-right-bottom-main {
			right: 25px;
		}
		&.align-right-bottom {
			right: 25px;
		}
	}

	// Header
	.navbar-collapse {
		ul {
			li {
				&.menu-item {
					font-size: 30px;
				}
			}
		}
	}
	// End header

	.hero-bgi {
		height: 768px;
	}

	.hero-subtitle {
		font-size: 30px;
	}

	.hero-paragraph {
		font-size: 40px;
	}

	.hero-a {
		font-size: 15px;
	}

	.row-go-half-up {
		margin-top: -139px;
	}

	.red-bgc-div {
		height: 278px;
	}

	.red-bgc-ul-li {
		font-size: 18px;
	}

	.see-all-projects-div {
		height: 864px;
		padding-top: 189px;
	}

	.see-all-projects-subtitle {
		font-size: 20px;
	}

	.hero-paragraph {
		&.hero-paragraph-smaller {
			font-size: 32px;
		}
	}

	.our-team {
		margin-top: -12.5em;
		& .column {
			padding-left: 8px;
			padding-right: 8px;
			margin-bottom: 0;
			margin-right: 0;
			margin-left: 0;
		}
		& .title-div {
			padding-left: 50px;
		}

		& .item {
			& .overlay {
				padding-left: 50px;
				padding-right: 50px;
				padding-bottom: 50px;
				& .text {
					& .function {
						font-size: 15px;
					}
				}
			}
		}
	}

	.cooperating-div {
		padding-top: 107px;
		padding-bottom: 280px;
	}

	.logo-partners-div {
		margin-top: -167.5px;
	}

	.logo-partner-div {
		height: 335px;
	}

	.recent-projects-image-bottom-text {
		padding-right: 6em;
	}

	.recent-projects-image-bottom-a {
		right: 25px;
		bottom: -10px;
	}

	.recent-projects-image-top-text {
		font-size: 15px;
		left: 51px;
		&.latest-news {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	.recent-projects-image-bottom-text {
		left: 51px;
	}

	// Footer
	.footer-upper-row {
		margin-top: -8.5em;
		// background: $clr-red;
		& .col-md-3 {
			padding-left: 0;
			padding-right: 0;
			& .footer-upper-div-item {
				height: 267px;
				& .h4-footer {
					margin-bottom: 30px;
					&.mb-mt-17 {
						margin-top: 0;
					}
				}
				& .footer-p,
				& .footer-a {
					transition: color 0.3s ease-in-out;
				}
				& .footer-a {
					&:hover,
					&:active,
					&:focus {
						color: $clr-dark-gray;
						text-decoration: none;
					}
				}
				&.footer-upper-div-item-last {
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					border-bottom-left-radius: 0;
				}
			}
		}

		.footer-logo-div {
			border-top-right-radius: 0;
			border-bottom-left-radius: 5px;
			border-top-left-radius: 5px;
		}
	}

	.footer-bottom-row {
		margin-bottom: 2.5em;
		& .footer-p,
		& .footer-a {
			font-size: 16px;
		}
	}
	// Footer
}

@media (min-width: 992px) {
	html {
		font-size: 16px;
	}

	// Header
	#desktop-menu {
		height: 145px;
		& .desktop-menu-wrapper {
			display: flex;
			align-items: center;
			height: 100%;
			justify-content: space-between;

			& .navbar-brand {
				margin-right: 0;
			}

			& .desktop-menu-pages-links-div {
				ul {
					display: flex;
					list-style-type: none;
					margin-bottom: 0;
					li {
						&.menu-item {
							a {
								color: $clr-dark;
								font-size: 9px;
								font-weight: bold;
								text-transform: uppercase;
								margin-right: 10px;
								transition: color 0.2s ease-in-out;

								&:hover,
								&:active,
								&:focus {
									text-decoration: none;
									color: $clr-red;
								}
							}
						}
						&.current-menu-item {
							a {
								color: $clr-red;
							}
						}
					}
				}
			}
		}
		button {
			&.btn-with-a {
				&.clr-dark {
					font-size: 9px;
					transform: translateY(2px);
					a {
						transform: translateY(-2px);
					}
					&:hover,
					&:active,
					&:focus {
						a {
							background-color: $clr-red;
							border-color: $clr-red;
						}
					}
				}
			}
		}
	}
	// End header

	.hero-bgi {
		height: 890px;
		margin-top: 0;
	}

	.to-the-left {
		margin-left: -25em;
	}

	.who-are-we-text-div {
		margin-right: -400px;
		p {
			font-size: 14px;
			padding-bottom: 1em;
		}
	}

	.projects {
		.top-bgc-gray {
			height: 225px;
		}
		.item {
			&:nth-child(1) {
				margin-bottom: 16px;
			}
			& .top {
				span {
					font-size: 15px;
					padding-inline: 20px;
					padding-block: 16px;
					margin-left: 44px;
				}
			}
			& .bottom {
				p {
					font-size: 22px;
					margin-left: 44px;
					padding-right: 130px;
				}
				a {
					right: 25px;
					bottom: -10px;
					height: 50px;
					width: 50px;
				}
			}
		}
	}

	// Footer
	.footer-upper-row {
		& .col-md-3 {
			& .footer-upper-div-item {
				height: 267px;
				& .h4-footer {
					font-size: 20px;
					&.mb-mt-17 {
						margin-top: 0;
					}
				}
				& .footer-p,
				& .footer-a {
					font-size: 16px;
				}
			}
		}
	}
	// End footer
}

@media (min-width: 992px) and (max-width: 1199px) {
	.desktop-menu-logo-div {
		width: 15%;
	}
}

@media (min-width: 1200px) {
	.container-fluid {
		padding-left: 140px;
		padding-right: 140px;
	}

	.container-fluid {
		&.alt {
			.row {
				margin-right: -8px;
				margin-left: -8px;

				.column {
					padding-right: 8px;
					padding-left: 8px;
				}
			}
		}
	}

	// Header
	#desktop-menu {
		& .desktop-menu-wrapper {
			& .desktop-menu-pages-links-div {
				ul {
					li {
						&.menu-item {
							a {
								font-size: 11px;
								margin-right: 10px;
							}
						}
					}
				}
			}
			button {
				&.btn-with-a {
					&.clr-dark {
						font-size: 11px;
					}
				}
			}
		}
	}
	// End header

	.to-the-left {
		margin-left: -12em;
	}

	.who-are-we-text-div {
		padding: 60px;
		margin-right: -125px;
	}

	// Footer
	.footer-upper-row {
		& .col-md-3 {
			& .footer-upper-div-item {
				height: 267px;
				padding: 50px;
				& .h4-footer {
					font-size: 22px;
					&.mb-mt-17 {
						margin-top: 0;
					}
				}
				& .footer-p,
				& .footer-a {
					font-size: 18px;
				}
			}
		}
	}
	// End footer
}

@media (min-width: 1400px) {
	// Header
	#desktop-menu {
		& .desktop-menu-wrapper {
			& .desktop-menu-pages-links-div {
				ul {
					li {
						&.menu-item {
							a {
								font-size: 13px;
								margin-right: 20px;
							}
						}
					}
				}
			}
			button {
				&.btn-with-a {
					&.clr-dark {
						font-size: 13px;
					}
				}
			}
		}
	}
	// End header
}

@media (min-width: 1639px) {
	// Header
	#desktop-menu {
		& .desktop-menu-wrapper {
			& .desktop-menu-pages-links-div {
				ul {
					li {
						&.menu-item {
							a {
								font-size: 15px;
								margin-right: 40px;
							}
						}
					}
				}
			}
			button {
				&.btn-with-a {
					&.clr-dark {
						font-size: 15px;
					}
				}
			}
		}
	}
	// End header
}
