$clr-light: #fff;
$clr-dark: #000;
$clr-light-gray: #f5f5f5;
$clr-dark-gray: #a5a5a5;
$clr-red: #e50c00;

html {
	font-size: 15px;
}

body {
	background-color: $clr-light;
	font-family: "Work Sans", sans-serif;
	color: $clr-dark;
	font-size: 1rem;
}

p {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
}

ul {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
