$clr-light: #fff;
$clr-dark: #000;
$clr-light-gray: #f5f5f5;
$clr-medium-gray: #e3e3e3;
$clr-dark-gray: #a5a5a5;
$clr-gray-4: #e0e0e0;
$clr-red: #e50c00;

$ff-main: "Work Sans", sans-serif;
$ff-secondary: "Montserrat", sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

html {
	font-size: 15px;
	overflow-x: hidden;
}

body {
	background-color: $clr-light;
	font-family: $ff-main;
	color: $clr-dark;
	font-size: 1rem;
	overflow-x: hidden;
}

h1 {
}

h2 {
}

h3 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: $fw-bold;
	line-height: 1.25;
	&.h3-padding {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
}

h4 {
	&.light-color {
		color: $clr-light;
		font-size: 20px;
		font-weight: $fw-bold;
		text-transform: uppercase;
		margin-bottom: 1.2em;
	}
	&.red-subtitle {
		color: $clr-red;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: $fw-light;
		margin-bottom: 0;
	}
	&.cooperating-title {
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		max-width: 12ch;
		line-height: 1.5;
	}
}

p {
	font-family: $ff-secondary;
	font-size: 14px;
	line-height: 2;
	margin-top: 1em;
	margin-bottom: 1em;
}

.bgc-light {
	background: $clr-light;
}

.bgc-light-gray {
	background: $clr-light-gray;
}

.bgc-red {
	background: $clr-red;
}

// Header
#mobile-menu {
	height: 90px;
	width: 100%;
	padding-left: 20px;
	padding-right: 22px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9999;
}

.navbar-toggler {
	background-color: $clr-dark-gray;
	height: 50px;
	width: 50px;
	border-radius: 0;
	border: none;
}

.navbar-light .navbar-toggler-icon {
	background-image: url("/kemabo/wp-content/uploads/2021/08/bars-solid.svg");
}
// End header

// Bootstrap container
.container-fluid {
	padding-left: 30px;
	padding-right: 30px;
}
// End Bootstrap container

.hero-bgi {
	margin-top: 90px;
	padding-top: 82px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3)),
		url("http://localhost/kemabo/wp-content/uploads/2021/08/home-hero-image.png");
	background-repeat: no-repeat;
	background-color: $clr-light;
	background-position: bottom center;
	background-attachment: fixed;
	position: relative;
	padding-bottom: 192px;
}

.hero-bgi-overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.3);
	inset: 0;
}

.hero-subtitle {
	color: $clr-light;
	font-size: 20px;
	font-weight: $fw-light;
	text-transform: uppercase;
}

.hero-paragraph {
	color: $clr-light;
	font-size: 20px;
	font-weight: $fw-bold;
	text-transform: uppercase;
	margin-top: 1em;
	margin-bottom: 2em;
	line-height: 1.5;
}

.hero-a {
	color: $clr-light;
	font-size: 13px;
	font-weight: $fw-bold;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	&:hover,
	&:active,
	&:focus {
		color: $clr-light-gray;
		text-decoration: none;
		& rect {
			fill: $clr-red;
		}
		& path {
			fill: $clr-light;
		}

		&:hover {
			& rect {
				fill: $clr-dark;
			}
			& path {
				fill: $clr-light;
			}
		}
	}
}

.red-rect-svg {
	margin-left: 20px;
	& rect {
		fill: $clr-red;
		transition: all 0.3s ease-in-out;
	}
	& path {
		fill: $clr-light;
		transition: all 0.3s ease-in-out;
	}
	&:hover {
		& rect {
			fill: $clr-dark;
		}
		& path {
			fill: $clr-light;
		}
	}
}

.red-rect-svg-smaller {
	& rect {
		fill: $clr-red;
		transition: all 0.3s ease-in-out;
	}
	& path {
		fill: $clr-light;
		transition: all 0.3s ease-in-out;
	}
	&:hover {
		& rect {
			fill: $clr-dark;
		}
		& path {
			fill: $clr-light;
		}
	}
}

.dark-rect-svg {
	margin-left: 20px;
	& rect {
		fill: $clr-dark;
		transition: all 0.3s ease-in-out;
	}
	& path {
		fill: $clr-light;
		transition: all 0.3s ease-in-out;
	}
	&:hover {
		& rect {
			fill: $clr-light;
		}
		& path {
			fill: $clr-dark;
		}
		border: 1px solid $clr-dark;
	}
}

.cf-no-padding {
	padding-left: 0;
	padding-right: 0;
}

.row-go-half-up {
	margin-top: -121.5px;
	padding-left: -30px;
	padding-right: -30px;
}

.first-slider {
	& .col-md-4 {
		padding-left: 5px;
		padding-right: 5px;
	}
	& .slick-dots {
		padding-inline: 45px;
		li {
			width: 33%;
			height: 3px;
			margin-inline: 0;
			&.slick-active {
				button::before {
					content: "";
					height: 8px;
					border-bottom: 8px solid $clr-red;
					border-radius: 5px;
					width: 100%;
					transform: translateY(14px);
				}
			}
			button:before {
				content: "";
				border-bottom: 3px solid $clr-gray-4;
				opacity: 1;
				width: 100%;
			}
		}
	}
}

.slick-list.draggable {
	padding-bottom: 10px !important;
}

.red-bgc-div {
	background: $clr-red;
	height: 243px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 31px;
	border-radius: 5px;
	position: relative;
}

.red-bgc-ul {
	padding-left: 1em;
	margin-bottom: 0;
}

.red-bgc-ul-li {
	font-family: $ff-secondary;
	color: $clr-light;
	font-size: 16px;
	padding-left: 0.5em;
	list-style-image: url("http://localhost/kemabo/wp-content/uploads/2021/08/chevron-right-solid-dark.svg");
	margin-bottom: 0.5em;
}

.dark-bgc-light-arrow {
	position: absolute;
	right: 20px;
	bottom: -10px;
}

.who-are-we-div {
	border: 1px solid $clr-medium-gray;
	background: $clr-light;
	border-radius: 5px;
}

.who-are-we-img-div {
	margin-bottom: 1em;
}

.who-are-we-text-div {
	padding: 22px;
	padding: 22px;
	position: relative;
}

.who-are-we-a {
	position: absolute;
	left: 27px;
	bottom: -10px;
}

.recent-projects-text-div {
	padding-top: 2em;
	padding-bottom: 2em;
}

.recent-projects-div-for-image {
	position: relative;
	margin-bottom: 2em;
}

.recent-projects-image {
	z-index: -1;
}

.recent-projects-image-top-text {
	position: absolute;
	top: 0;
	left: 23px;
	height: 34px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: $clr-dark;
	color: $clr-light;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: $fw-bold;
	display: flex;
	align-items: center;
	&.latest-news {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.recent-projects-image-bottom-text {
	position: absolute;
	bottom: 23px;
	left: 23px;
	font-family: $ff-secondary;
	font-size: 16px;
	color: $clr-light;
	line-height: 1.5;
	display: block;
}

.recent-projects-image-bottom-a {
	position: absolute;
	right: 11px;
	bottom: -5px;
}

.recent-projects-image-overlay {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 90px;
	width: 100%;
	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.4),
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0)
	);
}

.see-all-projects-div {
	position: relative;
	margin-top: 3em;
	background: linear-gradient(rgba(0, 0, 0, 0.3)),
		url("/kemabo/wp-content/uploads/2021/08/projecten_afbeelding_groot.png");
	background-color: $clr-light;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 566px;
	padding-top: 89px;
}

.see-all-projects-image-overlay {
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.7);
	padding-top: 89px;
}

.see-all-projects-subtitle {
	color: $clr-light;
	font-size: 15px;
	font-weight: $fw-light;
	text-transform: uppercase;
}

.red-bgc-div-team {
	height: 314px;
	display: flex;
	align-items: center;
	background-color: $clr-red;
	margin-top: -157px;
	& .team-title {
		font-size: 50px;
		font-weight: $fw-bold;
		color: $clr-light;
		text-transform: uppercase;
		line-height: 1.2;
		margin-left: 30px;
	}
}

.team-member-div {
	position: relative;
	margin-top: 10px;
}

.team-member-image-overlay {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 133px;
	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.4),
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0)
	);
}

.team-member-details {
	position: absolute;
	bottom: 34px;
	left: 39px;
}

.team-member-function {
	display: block;
	color: $clr-light;
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

.team-member-name {
	display: block;
	color: $clr-light;
	font-family: $ff-secondary;
	font-size: 22px;
}

.padding-div-95 {
	padding-top: 6.33rem;
}

.cooperating-div {
	display: flex;
	justify-content: center;
	padding-top: 54px;
	padding-bottom: 170px;
}

.cooperation-div {
	margin-top: 51px;
}

.logo-partners-div {
	margin-top: -118.5px;
}

.logo-partner-div {
	height: 237px;
	display: grid;
	place-items: center;
	border: 1px solid $clr-medium-gray;
	border-radius: 5px;
	margin-bottom: 10px;
	background: $clr-light;

	.logo-partner-img {
		transition: all 0.3s ease-in-out;
	}

	&:hover {
		.logo-partner-img {
			transform: scale(1.1);
		}
	}
}

.padding-div-101 {
	padding-top: 101px;
}

// Footer
.padding-div-200 {
	padding-top: 200px;
}

.bgi-footer {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3)),
		url("/kemabo/wp-content/uploads/2021/08/home-hero-image.png");
	background-color: $clr-light;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: calc(100vh - 90px);
}

.margin-top-row-half {
	margin-top: -91px;
	margin-right: -30px;
	margin-bottom: 10em;
	margin-left: -30px;
}

.footer-upper-div-item {
	padding: 20px;
	padding-top: 30px;
}

.footer-logo-div {
	height: 182px;
	background-color: $clr-light;
	border: 1px solid $clr-medium-gray;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.h4-footer {
	font-size: 18px;
	color: $clr-light;
	text-transform: uppercase;
	font-weight: $fw-bold;
	margin-bottom: 25px;
}

.footer-p {
	margin: 0;
	font-family: $ff-secondary;
	font-size: 12px;
	line-height: 1.78;
	color: $clr-light;
}

.footer-a {
	font-family: $ff-secondary;
	font-size: 12px;
	line-height: 1.78;
	color: $clr-light;
}

.footer-social-a {
	&:hover {
		text-decoration: none;
	}
}

.footer-social-svg {
	margin-left: 0;
}

.footer-bottom {
	margin-top: 10em;
	padding-bottom: 2em;
	& p,
	& a {
		font-size: 14px;
		line-height: 2.7;
	}
}
// End footer

@media (min-width: 768px) {
	h4 {
		&.cooperating-title {
			max-width: max-content;
		}
	}
}

@media (min-width: 992px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
